@font-face {
  font-family: "lightfont";
  src: url(Roboto-Light.ttf);
}

@font-face {
  font-family: "boldfont";
  src: url(Roboto-Bold.ttf);
}

body {
  margin: 0;
  background-color: #515355;
}

.title {
  font-family: "boldfont";
  color: white;
  
  position: relative;
  left: 20px;
}

.text {
  font-family: "lightfont";
  font-weight: 100;
  color: white;
  
  position: relative;
  left: 20px;
}
